
<div class="sorting-bar margin__top--sm">
  <button class="button__menu margin__right--sm margin__bottom--sm" mat-raised-button (click)="sortByPrice('asc')">Price (Low to High)</button>
  <button class="button__menu margin__right--sm margin__bottom--sm" mat-raised-button (click)="sortByPrice('desc')">Price (High to Low)</button>
  <button class="button__menu margin__right--sm margin__bottom--sm" mat-raised-button (click)="sortByPopularity()">Popularity</button>
  <button class="button__menu margin__right--sm margin__bottom--sm" mat-raised-button (click)="sortByDiscount('desc')">Discount (High to Low)</button>
</div>

  <div class="product-card__container">
  <app-product-card-detail *ngFor="let product of paginatedProducts"
                           [product]="product"
                           (addToWishlistEvent)="onAddToWishlist(product)"
                           (addToCartEvent)="onAddToCart(product)"
  >
  </app-product-card-detail>
</div>
<mat-paginator class="margin__top--md"
  [length]="(products$ | async)?.length || 0"
  [pageSize]="itemsPerPage"
  (page)="onPageChange($event)"
></mat-paginator>



