<div class="container__center">
  <mat-card class="form-container">
    <div class="font-primary margin__top--md margin__left--md margin__bottom--xsm">LOGIN</div>
    <form (ngSubmit)="onSubmit()"
          class="margin__left--md margin__top--sm margin__bottom--md margin__right--md">
      <div>
        <label class="font-secondary" for="email">Email:</label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="email" required email #emailField="ngModel">
        <mat-error *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
          <span *ngIf="emailField.errors?.['required']">Email is required.</span>
          <span *ngIf="emailField.errors?.['email']">Please enter a valid email.</span>
        </mat-error>
      </div>
      <div>
        <label for="password" class="margin__top--sm font-secondary">Password:</label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button mat-raised-button class="margin__top--sm" type="submit">Login</button>
    </form>
  </mat-card>
</div>
