<mat-card class="form-container">
  <div class="font-primary">Login</div>
  <form (ngSubmit)="onSubmit()" class="margin__left--lg margin__top--sm margin__bottom--md">
    <div>
      <label for="email">Email:</label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input matInput type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button mat-raised-button type="submit">Login</button>
  </form>
</mat-card>
