section
  display: flex
  justify-content: center

form
  display: grid
  gap: 1rem

form
  display: block


form input,
form textarea
  width: 100%
  padding: 0.5rem


form button
  padding: 0.5rem 1rem
  cursor: pointer
  transition: background-color 0.3s

  &:hover
    background-color: whitesmoke


  &:disabled
    background-color: darkgrey
    cursor: not-allowed



.product__edit--container
  display: grid


.button-secondary
  position: absolute
  top: 20px
  left: 150px

.product__image
  display: flex
  flex-direction: column

.product__bottom
  display: flex
  flex-direction: column
