<mat-card class="product__edit--container">
  <form class="form-container" [formGroup]="productForm" (ngSubmit)="onSubmit()"
        *ngIf="(productEdit$ | async) as asyncFilterPipe">
    <div class="product__edit--left margin--md">
      <div class="container margin__bottom--md font-primary">Edit Product</div>
      <label for="productName">Product Name:</label>
      <input matInput type="text" id="productName" formControlName="product_name" required>
      <mat-form-field class="form-control margin__top--md">
        <mat-label>Select Brand</mat-label>
        <mat-select formControlName="brandId" (selectionChange)="optionBrandSelected($event.value)">
          <mat-option *ngFor="let brand of brands$ | async" [value]="brand.id">{{ brand.brand_name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-control margin__left--md">
        <mat-label>Select Genre</mat-label>
        <mat-select formControlName="genreId" (selectionChange)="optionGenreSelected($event.value)">
          <mat-option *ngFor="let genre of genres$ | async" [value]="genre.id">{{ genre.genre_name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="product__image">
        <label for="productImage" class="font-small">Product Image:</label>
        <input type="file" id="productImage" (change)="uploadImage($event)">
        Image preview
        <div *ngIf="productForm.get('product_image')?.value">
          <img [src]="productForm.get('product_image')?.value" alt="Product Image" width="200">
        </div>
      </div>
      <div class="product__bottom">
        <label for="productTitle">Product Description:</label>
        <input matInput type="text" id="productTitle" formControlName="product_title" required>
        <label for="productDescription" class="margin__top--sm">Product Details:</label>
        <textarea type="text" id="productDescription" formControlName="product_description" required rows="9"
                  cols="50"></textarea>
        <label for="price" class="margin__top--sm">Price($):</label>
        <input matInput type="text" id="price" formControlName="price" class="margin__bottom--sm" required>
        <mat-slide-toggle class="margin__bottom--sm margin__top--sm" formControlName="in_bundle">Is this product part
          of a bundle?
        </mat-slide-toggle>
        <mat-slide-toggle formControlName="onSale">On Sale</mat-slide-toggle>
        <label for="discountPercentage" class="margin__top--sm">Discount Percentage(%):</label>
        <input matInput type="text" id="discountPercentage" formControlName="discountPercentage"
               class="margin__bottom--sm" [disabled]="!productForm.get('onSale')?.value">
        <label for="salePrice">Sale Price($):</label>
        <input matInput type="text" id="salePrice" formControlName="salePrice"
               [disabled]="!productForm.get('onSale')?.value">
      </div>
    </div>
    <button mat-raised-button class="button margin__left--md margin__bottom--md margin__top--sm"
            [disabled]="productForm.invalid">Update
      Product
    </button>
  </form>
  <button mat-raised-button class="button-secondary" [routerLink]='["/manage-products"]'>Back</button>
</mat-card>
