
<div class="container margin-auto font-primary">Edit Product</div>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()" *ngIf="(productEdit$ | async) as asyncFilterPipe">
  <label for="id">ID:</label>
  <input matInput type="text" id="id" formControlName="id" required>

  <label for="productName">Product Name:</label>
  <input matInput type="text" id="productName" formControlName="product_name" required>

  <label for="productTitle">Product Title:</label>
  <input matInput type="text" id="productTitle" formControlName="product_title" required>

  <label for="productDescription">Product Description:</label>
  <textarea id="productDescription" formControlName="product_description" required></textarea>

  <mat-form-field class="form-control">
    <mat-label>Select Brand</mat-label>
    <mat-select formControlName="brandId" (selectionChange)="optionBrandSelected($event.value)">
      <mat-option *ngFor="let brand of brands$ | async" [value]="brand.id">{{ brand.brand_name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-control">
    <mat-label>Select Genre</mat-label>
    <mat-select formControlName="genreId" (selectionChange)="optionGenreSelected($event.value)">
      <mat-option *ngFor="let genre of genres$ | async" [value]="genre.id">{{ genre.genre_name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <label for="productImage">Product Image URL:</label>
  <input matInput type="text" id="productImage" formControlName="product_image" required>

  <!-- Toggle for in_bundle property -->
  <mat-slide-toggle formControlName="in_bundle">Is it part of a bundle?</mat-slide-toggle>

  <button mat-raised-button [disabled]="productForm.invalid">Update Product</button>
</form>
