<div class="container">
  <div class="button_wrapper">
    <button mat-raised-button class="button-primary" [routerLink]="['/add-product']">Create Product</button>
    <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/on-sale-brand']">Set Brand On Sale</button>
    <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/on-sale-genre']">Set Genre On Sale</button>
  </div>
  <mat-table [dataSource]="dataSource">

    <!-- Product Image Column -->
    <ng-container matColumnDef="product_image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <img [src]="product.product_image" alt="Product Image" style="max-width: 60px; max-height: 60px;">
      </mat-cell>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="product_name">
      <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div class="cell--main">
          <div class="font-secondary">{{ product.product_name }}</div>
          <div class="font-small">{{ product.brandId }}</div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Genre ID Column -->
    <ng-container matColumnDef="genreId">
      <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.genreId }} </mat-cell>
    </ng-container>

    <!-- Bundle Column -->
    <ng-container matColumnDef="in_bundle">
      <mat-header-cell *matHeaderCellDef> Bundle? </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.in_bundle }} </mat-cell>
    </ng-container>

    <!-- On Sale Column -->
    <ng-container matColumnDef="onSale">
      <mat-header-cell *matHeaderCellDef> On Sale </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.onSale ? 'Yes' : 'No' }} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <ng-container *ngIf="!product.onSale">
          ${{ product.price | number:'1.2-2' }}
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Sale Price Column -->
    <ng-container matColumnDef="salePrice">
      <mat-header-cell *matHeaderCellDef> Sale Price </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <ng-container *ngIf="product.onSale">
          <span class="sale-price-red">${{ product.salePrice | number:'1.2-2' }}</span>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Discount Percentage Column -->
    <ng-container matColumnDef="discountPercentage">
      <mat-header-cell *matHeaderCellDef> Discount Percentage </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.discountPercentage }}% </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <mat-icon (click)="deleteProduct(product.id)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="cell_hover" [routerLink]="['/edit', row.id]"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons=""></mat-paginator>
</div>
