<nav class="navbar">
<!--  <img src="https://cdn.producerloops.com/images/M/Concept%20Samples%20Logo.jpg" width="150px" alt="Logo" class="logo">-->
  <ul class="nav-links">
    <li><button class="font-primary" mat-button routerLink="/">Home</button></li>
    <li><button class="font-primary" mat-button routerLink="/genres">Genres</button></li>
    <button class="font-primary" mat-button [matMenuTriggerFor]="menu">Formats</button>
    <mat-menu #menu="matMenu">
      <button class="font-primary" mat-menu-item *ngFor="let format of formats" [value]="format.id">{{ format.format_name }}</button>
    </mat-menu>
    <li><button class="font-primary" mat-button routerLink="/brands">Brands</button></li>
    <li><button class="font-primary" mat-button routerLink="/bundles">Bundles</button></li>
    <li><button class="font-primary" mat-button routerLink="/manage-products" *ngIf="(isAdmin| async)">Product Management</button></li>
    <li><button class="font-primary" mat-button routerLink="/manage-brands" *ngIf="(isAdmin| async)">Brands Management</button></li>
    <li><button class="font-primary" mat-button routerLink="/manage-genres" *ngIf="(isAdmin| async)">Genres Management</button></li>
    <li><button class="font-primary" mat-button routerLink="/login" *ngIf="!(user$| async)">Login</button></li>
    <li><button class="font-primary"mat-button routerLink="/signup" *ngIf="!(user$| async)">Signup</button></li>
  </ul>
</nav>

