<label class="margin__bottom--lg">Pay by Card:</label>

<app-shopping-cart-payment class="margin__bottom--md"></app-shopping-cart-payment>

<form (submit)="simulatePayment()">
  <!-- Stripe's Card Element will be inserted here if you decide to reintegrate later -->
  <!-- <div id="card-element"></div> -->
  <!-- <button mat-raised-button type="submit" [disabled]="loading">Pay</button> -->
  <!-- <div *ngIf="errorMessage">{{ errorMessage }}</div> -->
</form>

<!-- New button for simulating a successful payment -->
<button mat-raised-button (click)="simulatePayment()" [disabled]="loading">Simulate Payment</button>
