<div class="align__items">
  <div class="container">
  <div class="button_wrapper">
    <button mat-raised-button [routerLink]="['/add-genre']">Create Genre</button>
  </div>
  <div class="button_wrapper">
    <button mat-raised-button [routerLink]="['/manage-products']">Back</button>
  </div>
  <mat-table [dataSource]="dataSource" >

    <!-- Genre Name Column -->
    <ng-container matColumnDef="genre_name">
      <mat-header-cell *matHeaderCellDef> Genre Name </mat-header-cell>
      <mat-cell class="cell_hover" *matCellDef="let genre" [routerLink]="['/', 'genre-edit', genre._id]"> {{ genre.genre_name }} </mat-cell>
    </ng-container>

    <!-- Genre Name Column -->
    <ng-container matColumnDef="genre_description">
      <mat-header-cell *matHeaderCellDef> Genre Description </mat-header-cell>
      <mat-cell class="cell_hover" *matCellDef="let genre" [routerLink]="['/', 'genre-edit', genre._id]"> {{ genre.genre_description | slice: 0: 70 }}...read more </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let genre">
        <mat-icon (click)="deleteGenre(genre.id)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons=""></mat-paginator>
</div>
</div>
