<div class="container">
  <div class="font-primary margin__bottom--md">Wishlist</div>
  <mat-card class="wishlist__items--container"
            *ngFor="let product of products; let i = index">

    <img class="wishlist__image margin--md"
         [src]="product.product_image"
         alt=""/>

    <div class="grid-column-right margin__top--lg">
      <div class="title-main margin__bottom--sm">{{ product.product_name }}</div>
      <div class="text-primary margin__bottom--xsm">{{ product.brandId }}</div>
      <div class="text-field text-secondary opacity--md margin__right--md">{{ product.product_description }}</div>

      <div class="font-primary">
        ${{ product.quantity * product.price | number : "1.2-2" }}
      </div>
<!--      <div class="wishlist__icons">-->
<!--        <mat-icon-->
<!--          class="wishlist__card&#45;&#45;icon"-->
<!--          [routerLink]="['/products/product-detail', product.id]"-->
<!--        >open_in_new-->
<!--        </mat-icon>-->
<!--        <mat-icon-->
<!--          class="wishlist__card&#45;&#45;icon"-->
<!--          [style.color]="product.quantity == 0 ? 'red' : 'green'"-->
<!--        >fiber_manual_record-->
<!--        </mat-icon>-->
<!--        <mat-icon class="wishlist__card&#45;&#45;icon">check_circle</mat-icon>-->
<!--        <mat-icon class="wishlist__card&#45;&#45;icon">question_answer</mat-icon>-->
<!--        <mat-icon class="wishlist__card&#45;&#45;icon">phone</mat-icon>-->
<!--      </div>-->
      <div class="cart__remove-button margin__top--md">

        <button mat-fab
                (click)="addProductToCart(product)">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-fab
                (click)="removeFromWishlist(product)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
