.container
  display: flex
  flex-direction: column

.wishlist__items--container
  display: grid
  grid-template-columns: 30% 70%
  border-radius: var(--border-radius-sm)
  width: 600px
  height: 180px
  margin-bottom: 10px

.grid-column-right
  grid-column: 2/3

.wishlist__image
  grid-column: 1/2
  height: 140px
  width: 140px

.wishlist__card_label
  font-size: 28px
  position: absolute
  top: 120px
  left: 340px

.cart__remove-button
  font-size: 28px
  position: absolute
  top: 130px
  left: 470px

.wishlist__button
  width: 130px
  font-size: 22px

.text-field
  min-height: 90px

.wishlist__icons
  position: absolute
  top: 120px
  left: 177px

