.container
  display: flex
  flex-direction: column

.wishlist__items--container
  display: grid
  grid-template-columns: 0.3fr 0.7fr
  margin-bottom: 10px

.grid-column-right
  grid-column: 2/3

.wishlist__image
  grid-column: 1/2
  max-height: 150px
  max-width: 150px

.cart__remove-button
  font-size: 28px

.wishlist__button
  width: 130px
  font-size: 22px

.wishlist__icons
  position: absolute
  top: 120px
  left: 177px

