.product-card
  display: grid
  grid-template-columns: 20% 80%
  gap: 10px

.product-card-left
  grid-column: 1/2

.product-card-middle
  grid-column: 2/3
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))
  gap: 10px

.bundles-grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))
  gap: 10px
