<div class="align__items">
<div class="button_wrapper margin--md">
  <button mat-raised-button class="button-primary" [routerLink]="['/add-product']">Create Product</button>
  <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/manage-brands']">Brands</button>
  <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/manage-genres']">Genres</button>
  <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/on-sale-brand']">Set Brand On Sale</button>
  <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/on-sale-genre']">Set Genre On Sale</button>
</div>
</div>
<app-product-list></app-product-list>

