<div class="button_wrapper margin--md">
  <button mat-raised-button [matMenuTriggerFor]="menu" class="button-primary">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/add-product']">Create Product</button>
    <button mat-menu-item [routerLink]="['/manage-brands']">Brands</button>
    <button mat-menu-item [routerLink]="['/manage-genres']">Genres</button>
    <button mat-menu-item [routerLink]="['/on-sale-brand']">Brand Sale</button>
    <button mat-menu-item [routerLink]="['/on-sale-genre']">Genre Sale</button>
    <button mat-menu-item [routerLink]="['/downloads']">Downloads</button>
  </mat-menu>
</div>

<app-product-list></app-product-list>

