  <div class="button_wrapper margin--md">
    <button mat-raised-button class="button-primary" [routerLink]="['/add-product']">Create Product</button>
    <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/manage-brands']">Brands</button>
    <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/manage-genres']">Genres</button>
    <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/on-sale-brand']">Brand
      Sale
    </button>
    <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/on-sale-genre']">Genre
      Sale
    </button>
    <button mat-raised-button class="button-primary margin__left--xsm" [routerLink]="['/downloads']">Downloads</button>
  </div>
<app-product-list></app-product-list>

