<mat-card class="product-card mat-elevation-z24">
  <img [src]="product.product_image" [routerLink]="'/products/' + product.id" alt="Product Image" class="product-image">
  <div class="product-details">
    <h2 class="title-main opacity--md">{{ product.product_name }}</h2>
    <h3 class="text-primary opacity--lg">{{ product.product_title | slice:0:100 }}...</h3>
    <div class="product-card__bottom margin__top--sm">
      <div class="title-main opacity--lg">
        <div *ngIf="product.salePrice && product.salePrice < product.price; else originalPrice">
          <div class="product__card--discount">
            <div class="product__card--discount-row">Was:
              <div class="original-price margin__bottom--xsm">
                {{ product.price  | currency:'USD':'symbol':'1.2-2'}}</div>
            </div>
            <div class="product__card--discount-row">Now:
              <div class="font-large discounted-price">
                {{ product.salePrice  | currency:'USD':'symbol':'1.2-2'}}</div>
            </div>
          </div>
          <div class="discount-banner">{{ product.discountPercentage }}% Off</div>
        </div>
        <ng-template #originalPrice>
          {{ product.price | currency:'USD':'symbol':'1.2-2'}}
        </ng-template>
      </div>
      <div class="product-card__bottom--left">
        <button mat-raised-button class="pi pi-shopping-cart" (click)="addToCart(product)">
        </button>
      </div>
    </div>
    <div>
      <button class="product-card__bottom--left-icon" mat-mini-fab aria-label="icon" (click)="addToWishlist(product)">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
