.form-container
  margin: 30px
  padding: 20px
  border: 1px solid #ccc
  border-radius: 5px
  background-color: #f9f9f9
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)


.form-container label
  display: block
  margin-bottom: 5px
  font-weight: bold


.form-container input[type="email"],
.form-container input[type="password"]
  width: 100%
  padding: 10px
  margin-bottom: 10px
  border: 1px solid #ccc
  border-radius: 3px
  box-sizing: border-box


.form-container button[type="submit"]
  border-radius: 33px



.form-container button[type="submit"]:hover
  background-color: #0056b3

