<div class="top-nav">
  <div class="left-icons">
      <span class="nav-item">
        <i class="material-icons">menu</i>
      </span>
    <span class="nav-item">
        <i class="material-icons">search</i>
      </span>
  </div>
  <div class="right-icons">
      <span class="nav-item">
        <i class="material-icons">notifications</i>
        Notifications
      </span>
    <span class="nav-item">
        <i class="material-icons">account_circle</i>
        Profile
      </span>
    <span class="nav-item">
        <i class="material-icons">favorite</i>
        Wishlist
      </span>
    <span class="nav-item">
        <i class="material-icons">shopping_cart</i>
        Cart
      </span>
  </div>
</div>
