<mat-card *ngIf="product" class="mat-elevation-z20 border-radius--sm">
  <!-- Product details -->
  <div class="margin__top--sm margin__right--lg margin__left--lg">
    <div class="product-card-bottom__wrapper">
      <div class="product-card__left">
        <img class="product-card__image margin__top--md" [src]="product.product_image" width="300px" height="300px" alt="">
      </div>
      <div class="product-card__right margin__left--md">
        <span class="title-main margin__top--lg opacity--sm">{{ product.product_name }}...</span>
        <hr class="product-card__line opacity--lg">
        <!-- Average Rating Section -->
        <div class="container__stars margin__bottom--sm" *ngIf="comments.length > 0">
          <div class="stars">
            <mat-icon class="star" [ngClass]="{'filled': averageRating >= 1}">star</mat-icon>
            <mat-icon class="star" [ngClass]="{'filled': averageRating >= 2}">star</mat-icon>
            <mat-icon class="star" [ngClass]="{'filled': averageRating >= 3}">star</mat-icon>
            <mat-icon class="star" [ngClass]="{'filled': averageRating >= 4}">star</mat-icon>
            <mat-icon class="star" [ngClass]="{'filled': averageRating >= 5}">star</mat-icon>
          </div>
          <p class="rating-value margin__left--sm">{{ averageRating.toFixed(1) }}</p>
        </div>
        <span class="text-primary opacity--lg">{{ product.product_title }}...</span>
        <hr class="product-card__line opacity--lg">
        <span class="text-secondary opacity--xlg">{{ product.product_description }}</span>
        <hr class="product-card__line">
        <div class="icon__list">
          <mat-icon class="icon opacity--lg">shopping_cart</mat-icon>
          <mat-icon class="icon opacity--lg">favorite</mat-icon>
          <mat-icon class="icon opacity--lg">list</mat-icon>
          <mat-icon class="icon opacity--lg">phone</mat-icon>
        </div>
        <div class="button-group">
          <button mat-raised-button (click)="addToWishlist(product)"
                  class="button pi pi-heart margin__top--md button-primary"> Wishlist
          </button>
          <button mat-raised-button (click)="addToCart(product)"
                  class="pi pi-shopping-cart margin__top--md margin__left--sm button-primary">
            ${{ product.price }}
          </button>
        </div>
        <hr class="product-card__line">
      </div>
    </div>
    <hr class="product__page--badge margin-line opacity--xlg margin__bottom--md margin__top--md">
    <div>
      <div class="margin-primary margin__bottom--md">
        <div *ngIf="relatedProductsByGenre.length > 0">
          <h3 class="font-primary margin__top--md">More from this genre:</h3>
          <div class="related-products">
            <a *ngFor="let relatedProduct of relatedProductsByGenre" class="related-product">
              <img [src]="relatedProduct.product_image" alt="Product Image" width="150px">
            </a>
          </div>
        </div>
        <div *ngIf="relatedProductsByGenre.length === 0">
          <p>No related products found.</p>
        </div>
      </div>
      <div class="margin-primary">
        <div *ngIf="relatedProductsByBrand.length > 0">
          <h3 class="font-primary">More from this brand:</h3>
          <div class="related-products">
            <div *ngFor="let relatedProduct of relatedProductsByBrand" class="related-product">
              <img [src]="relatedProduct.product_image" alt="Product Image" width="150px">
            </div>
          </div>
        </div>
        <div *ngIf="relatedProductsByBrand.length === 0">
          <p>No related brands found.</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="margin-line opacity--md margin__top--md">
  <app-product-comment></app-product-comment>
</mat-card>
