<mat-card *ngIf="product" class="mat-elevation-z20 border-radius--sm">
  <!-- Product details -->
  <div class="margin--lg">
    <div class="product-card-bottom__wrapper">
      <div class="product-card__left">
        <img class="product-card__image" [src]="product.product_image" width="300px" height="300px" alt="">
      </div>
      <div class="product-card__right margin__left--md">
        <span class="title-main margin__top--sm opacity--sm">{{ product.product_name }}...</span>
        <hr class="product-card__line opacity--lg">
        <span class="text-primary opacity--lg">{{ product.product_title }}...</span>
        <hr class="product-card__line opacity--lg">
        <span class="text-secondary opacity--xlg">{{ product.product_description }}</span>
        <hr class="product-card__line">
        <div class="icon__list">
          <mat-icon class="icon opacity--lg">shopping_cart</mat-icon>
          <mat-icon class="icon opacity--lg">favorite</mat-icon>
          <mat-icon class="icon opacity--lg">list</mat-icon>
          <mat-icon class="icon opacity--lg">phone</mat-icon>
        </div>
        <div class="button-group">
          <button mat-raised-button (click)="addToWishlist(product)" class="button pi pi-heart margin__top--md button-primary"> Wishlist </button>
          <button mat-raised-button (click)="addToCart(product)" class="pi pi-shopping-cart margin__top--md margin__left--sm button-primary"> ${{ product.price }} </button>
        </div>
        <hr class="product-card__line">
      </div>
    </div>
    <hr class="product__page--badge margin-line opacity--xlg margin__bottom--md margin__top--md">
    <div class="product__page--badge">
      <!-- Banners -->
    </div>
    <div>
      <!-- Related products -->
      <hr class="margin-line opacity--xlg margin__bottom--md margin__top--md">
      <div class="margin-primary margin__bottom--md">
        <div *ngIf="relatedProducts.length > 0">
          <h3 class="font-primary">More from this genre:</h3>
          <div class="related-products">
            <a *ngFor="let relatedProduct of relatedProducts" class="related-product">
              <img [src]="relatedProduct.product_image" alt="Product Image" width="150px">
            </a>
          </div>
        </div>
        <div *ngIf="relatedProducts.length === 0">
          <p>No related products found.</p>
        </div>
      </div>
      <div class="margin-primary">
        <div *ngIf="relatedProductBrands.length > 0">
          <h3 class="font-primary">More from this brand:</h3>
          <div class="related-products">
            <div *ngFor="let relatedProduct of relatedProductBrands" class="related-product">
              <img [src]="relatedProduct.product_image" alt="Product Image" width="150px">
            </div>
          </div>
        </div>
        <div *ngIf="relatedProductBrands.length === 0">
          <p>No related brands found.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="comments-section margin--md">
    <h3>Comments</h3>
    <div *ngIf="comments.length > 0; else noComments">
      <div *ngFor="let comment of comments" class="comment">
        <p><strong>{{ comment.userName }}</strong> ({{ comment.timestamp | date:'short' }}):</p>
        <p>{{ comment.comment }}</p>
      </div>
    </div>
    <ng-template #noComments>
      <p>No comments yet. Be the first to comment!</p>
    </ng-template>

    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
      <input matInput formControlName="comment" placeholder="Add a comment">
      <button mat-raised-button [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>
</mat-card>
