.font-primary
  text-transform: capitalize
  font-size: 24px

.margin-primary
  margin: 30px 0 10px 30px

.margin-line
  margin: 30px 0 10px 30px

.product-card-bottom__wrapper
  display: grid
  grid-template-columns: 30% 70%

.product-card__left
  grid-column: 1/2
  margin: 30px 0 0 30px

.product-card__right
  grid-column: 2/3
  display: flex
  flex-direction: column
  margin: 30px 10px 30px 10px

div

  img
    max-width: 100%
    height: auto
    margin-top: 10px

  p
    margin-top: 10px
    font-size: 16px

.related-products
  display: flex
  flex-direction: row
  margin: 0 0 30px 30px
