@import url('../../../../../src/styles.sass')

.product-card-bottom__wrapper
  display: grid
  grid-template-columns: 25% 70%

.product-card__left
  grid-column: 1/2

.product-card__right
  grid-column: 2/3
  display: flex
  flex-direction: column

.related-products
  display: flex
  flex-direction: row

.button-group
  display: flex
  flex-direction: row

.container-banner
  display: grid
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr
  &--table-one
    grid-column: 1/2
    height: 40px
    display: flex
    flex-direction: row
    align-content: baseline
  &--table-two
    grid-column: 2/3
    height: 40px
    display: flex
    flex-direction: row
    align-content: baseline
  &--table-three
    grid-column: 3/4
    height: 40px
    display: flex
    flex-direction: row
    align-content: baseline
  &--table-four
    grid-column: 4/5
    height: 40px
    display: flex
    flex-direction: row
    align-content: baseline
div

  img
    max-width: 100%
    height: auto

  p
    font-size: 16px
form
  display: flex
  flex-direction: column

.star
  color: lightgray
  cursor: pointer

  &.filled
    color: gold

.average-rating
  display: flex
  align-items: center

  .star
    margin-right: 2px

.rating
  display: flex
  align-items: center

  .star
    margin-right: 2px

.container__stars
  display: flex
  flex-direction: row

.related-product :hover
  opacity: 80%

@media only screen and (max-width: 1200px)
  .product__page--badge
    display: none
