.container
  display: grid
  grid-template-rows: 1fr 1fr
  margin: 20px

.brand-info
  margin: 20px
  grid-row: 1/2

.product-card
  display: flex
  flex-direction: row
  overflow: hidden
  margin: 0 20px 0 20px
  grid-row: 2/3

.image
  transition: all 0.3s ease
  &:hover
    transform: translateY(-5px)

