@import url('../../../../src/styles.sass')

.container
  display: grid
  grid-template-rows: 1fr 1fr
  gap: 10px
  height: 300px

.brand-info
  grid-row: 1/2

.product-card
  grid-row: 2/3
  display: flex
  flex-direction: row
  overflow: hidden

.image
  transition: all 0.2s ease
  &:hover
    transform: translateY(-3px)
    opacity: 70%

