<mat-card class="container mat-elevation-z24">
  <div class="brand-info margin__top--lg margin__left--lg margin__right--lg">
    <div class="title-main">{{ brand?.brand_name }}</div>
    <div class="text-primary">{{ brand?.brand_description | slice: 0:180 }}...read more</div>
  </div>
  <div class="product-card margin__left--lg">
    <a *ngFor="let product of getBrandProducts() | slice: 0: 4" [href]="'/products/' + product.id">
      <img class="image" [src]="product.product_image" alt="Product Image" width="80px" height="80px"
           [matTooltip]="'View ' + product.product_name + '!'">    </a>
  </div>
</mat-card>

