<mat-card class="cart__items-container mat-elevation-z24 margin__bottom--sm" *ngFor="let product of products; let i = index">
  <img class="cart__product-image margin__top--md margin__left--md"
       [src]="product.product_image"
       height="90"
       width="90"
       alt=""/>

  <div class="cart__info margin__top--md">
    <mat-icon class="cart__badge"
              [matBadge]="product.quantity"
              matBadgeSize="large"
              matBadgeColor="warn">
    </mat-icon>

    <div class="cart__label-wrapper margin__left--md">
      <div class="font-secondary opacity--md">{{ product.brandId }}</div>
      <div class="font-primary">{{ product.product_name }}</div>

      <div *ngIf="!product.onSale" class="font-secondary margin__top--sm">
        <div class="font-secondary margin__top--sm">
          <div *ngIf="!product.onSale" class="margin__top--sm">
            Our Price: ${{ product.price | number : "1.2-2" }}
          </div>
        </div>
      </div>

      <div *ngIf="product.onSale" class="cart__card_price-amount font-secondary margin__top--sm">
        <div class="cart__card_price-amount font-secondary margin__top--sm">
          <div *ngIf="product.onSale" class="margin__top--sm price-tag">
            On Sale: ${{ product.salePrice | number : "1.2-2" }}
          </div>
          <div class="discount-banner">{{ product.discountPercentage }}% Off</div>
        </div>
      </div>
    </div>

    <div class="cart__remove-button">
      <button mat-fab class="cart__wishlist-button" (click)="addToWishlist(product)">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-fab class="cart__wishlist-button" (click)="removeFromCart(product)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
