.cart__items-container
  display: grid
  grid-template-columns: 30% 70%
  height: 130px
  width: 600px

.cart__product-image
  grid-column: 1/2

.cart__info
  grid-column: 2/3

.cart__badge
  position: absolute
  left: 86px
  top: 26px
.cart__remove-button
  position: absolute
  left: 390px
  top: 80px
.cart__card_price-amount-sale
  position: absolute
  left: 500px
  top: 50px
.cart__card_price-amount
  position: absolute
  left: 500px
  top: 35px
  opacity: 60%
  text-decoration: line-through
  color: gray
.discount-banner
  background-color: red
  color: white
  font-weight: bold
  padding: 2px 8px
  position: absolute
  top: 5px
  right: 560px
  border-radius: 0 0 0 8px
  transform-origin: top left
  z-index: 1
