.cart__items-container
  display: grid
  grid-template-columns: 0.3fr 0.7fr

.cart__product-image
  grid-column: 1/2

.cart__info
  grid-column: 2/3

.cart__badge


.cart__remove-button

.cart__card_price-amount-sale
  top: 50px

.discount-banner
  background-color: red
  color: white
  font-weight: bold
  padding: 8px 8px
  position: absolute
  top: 10px
  right: 0
  border-radius: 0 0 0 8px
  transform-origin: top left
  z-index: 1

.price-tag
  color: red
