<div class="container">
  <mat-card>
    <h2>Set Brand On Sale</h2>
    <form [formGroup]="brandOnSaleForm" (ngSubmit)="setBrandOnSale()">
      <mat-form-field>
        <mat-label>Select Brand</mat-label>
        <mat-select formControlName="brandId">
          <mat-option *ngFor="let brand of brands$ | async" [value]="brand.id">
            {{ brand.brand_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Discount Percentage</mat-label>
        <input matInput type="number" formControlName="discountPercentage" min="0" max="100">
      </mat-form-field>

      <button mat-raised-button type="submit">Set On Sale</button>
    </form>
    <button mat-raised-button class="margin__top--sm" [routerLink]='["/manage-products"]'>Back</button>
  </mat-card>
</div>
