
.carousel-indicators
  li
    background-color: #999
    &.active
      background-color: #333

.carousel-control-prev, .carousel-control-next
  color: #fff
  font-size: 2rem
  background-color: rgba(0, 0, 0, 0.5)
  &:hover
    color: #000
    background-color: rgba(255, 255, 255, 0.5)

.carousel-item
  transition: transform 0.6s ease-in-out
  img
    width: 100%
    height: auto


