
.container
  gap: 10px
  margin: 10px

.container-card
  margin: 5px

.product-card
  display: flex
  flex-direction: column
  overflow: hidden
  margin: 20px
  height: 300px

.image
  transition: all 0.3s ease
  &:hover
    transform: translateY(-5px)

h2
  margin: 30px 10px 10px 10px
  text-align: center

h4
  margin: 20px
  text-align: center
