<div class="align__items">
  <mat-card class="container">
    <div class="font-primary margin__left--md margin__top--md">Edit Brand</div>
    <div class="margin--md">
      <form class="form-container container" [formGroup]="brandForm" (ngSubmit)="onSubmit()"
            *ngIf="(brandEdit$ | async) as asyncFilterPipe">
        <label for="brand_name"
               class="font-secondary margin__bottom--xsm">
          Brand Name:</label>
        <input class="text-field padding--md margin__right--lg"
               type="text" id="brand_name"
               formControlName="brand_name"
               required>
        <label for="brand_description"
               class="text-field font-secondary margin__top--md margin__bottom--xsm">
          Brand Description:</label>
        <textarea class="text-field padding--md"
                  type="text"
                  id="brand_description"
                  formControlName="brand_description"
                  required style="width: 100%; height: 200px;">
        </textarea>
        <div class="form-actions">
          <button mat-raised-button
                  class="button margin__top--sm margin__right--xlg">Update Brand
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
