.container
  display: flex
  flex-direction: column
  width: 600px
  input textarea
    padding: 10px
    max-width: 560px

.text-field
  max-width: 540px

.button
  max-width: 160px
  margin-left: auto

form.container
  display: flex
  flex-direction: column

.form-actions
  display: flex
  justify-content: flex-end

