<ng-container *ngIf="user$ | async as user; else notAuthenticated">

  <!-- Admin Section -->
  <div *ngIf="isAdmin; else notAdmin">
    <div class="product-list">
      <app-admin-report class="margin--md"></app-admin-report>
      <app-product-list></app-product-list>
    </div>
  </div>

  <!-- Moderator Section -->
  <ng-template #notAdmin>
    <div *ngIf="isModerator; else notModerator">
      <div class="product-list">
        <app-moderator-report class="margin--md"></app-moderator-report>
        <app-product-list-moderators></app-product-list-moderators>
      </div>
    </div>
  </ng-template>

  <!-- User Section -->
  <ng-template #notModerator>
    <div class="product-card">
      <div class="product-card-left">
        <app-product-filter></app-product-filter>
      </div>
      <div class="product-card-right">
        <app-product-card *ngIf="user && user.uid"></app-product-card>
      </div>
    </div>
  </ng-template>
</ng-container>

<!-- Not Authenticated Section -->
<ng-template #notAuthenticated>
  <div>
    <app-product-card></app-product-card>
  </div>
</ng-template>
