<app-product-carousel></app-product-carousel>
<ng-container *ngIf="user$ | async as user; else notAuthenticated">

  <!-- Admin Section -->
  <div *ngIf="isAdmin; else notAdmin">
    <div class="product-card">
      <div class="product-card-left">
        <app-product-filter></app-product-filter>
      </div>
      <div class="product-card-right">
      <app-product-card></app-product-card>
      </div>
    </div>
  </div>

  <!-- Moderator Section -->
  <ng-template #notAdmin>
    <div *ngIf="isModerator; else notModerator">
      <div class="product-list">
        <div class="font-primary margin--md">Product Management</div>
        <app-product-list-moderators></app-product-list-moderators>
      </div>
    </div>
  </ng-template>

  <!-- User Section -->
  <ng-template #notModerator>
    <div class="product-card">
      <div class="product-card-left">
        <app-product-filter></app-product-filter>
      </div>
      <div class="product-card-right">
        <app-product-card *ngIf="user && user.uid"></app-product-card>
      </div>
    </div>
  </ng-template>
</ng-container>

<!-- Not Authenticated Section -->
<ng-template #notAuthenticated>
  <div class="product-card">
    <div class="product-card-left">
      <app-product-filter></app-product-filter>
    </div>
    <div class="product-card-right">
      <app-product-card></app-product-card>
    </div>
  </div>
</ng-template>



